
    <li class="class list__item">
        <img src="{{images.9.url}}" alt="" width="267" height="367">
        <h3 class="class item__title">{{name}}</h3>
        <p class="item__text">{{dates.start.localDate}}</p>
        <p class="item__text">{{_embedded.venues.0.name}}</p>
    </li>
    
